<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/unauth_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>InJae - 회원가입</title>
</head>
<body>

<section layout:fragment="container">
  <div class="form-area">
    <form class="sign-up-form">
      <div class="input-area">
        <input name="username" placeholder="아이디" type="text"/>
      </div>
      <div class="input-area">
        <input name="password" placeholder="비밀번호" type="password"/>
      </div>
      <div class="input-area">
        <input name="passCheck" placeholder="비밀번호 확인" type="password"/>
      </div>
      <div class="input-area">
        <input name="name" placeholder="이름" type="text"/>
      </div>
      <div class="input-area">
        <input name="email" placeholder="이메일" type="text"/>
      </div>
      <div class="input-area">
        <input name="address" placeholder="주소" type="text"/>
      </div>
      <div class="input-area">
        <input name="mobile" placeholder="전화번호(하이픈(-) 제외 숫자만 입력)" type="text"/>
      </div>
      <div class="btn-area">
        <button>회원가입</button>
      </div>
      <div class="link-area">
        <a href="/sign/in">로그인</a>
        <a href="/user/find-username">아이디 찾기</a>
        <a href="/user/find-password">비밀번호 찾기</a>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $signUpForm = $('.sign-up-form')
  const $usernameInput = $('input[name=username]')
  const $passwordInput = $('.input[type=password]')
  const $nameInput = $('input[name=name]')
  const $emailInput = $('input[name=email]')
  const $addressInput = $('input[name=address]')
  const $mobileInput = $('input[name=mobile]')

  $signUpForm.validate({
    errorPlacement: (error, element) => {
      error.prependTo(element.parent())
    },
    rules: {
      username: {
        required: true,
        remote: {
          type: 'GET',
          url: `/api/user/checking-duplication?username=${$usernameInput.val()}`,
          success: () => {
            return true
          },
          error: () => {
            return false
          }
        }
      },
      password: {
        required: true
      },
      passCheck: {
        required: true,
        equalTo: '[name=password]'
      },
      name: {
        required: true,
        korean: true
      },
      email: {
        required: true,
        email: true
      },
      address: {
        required: true
      },
      mobile: {
        required: true,
        number: true
      }
    },
    messages: {
      username: {
        required: '아이디가 입력되지 않았습니다.',
        remote: '이미 존재하는 아이디입니다.'
      },
      password: {
        required: '비밀번호가 입력되지 않았습니다.'
      },
      passCheck: {
        required: '재확인 비밀번호가 입력되지 않았습니다.',
        equalTo: '비밀번호가 일치하지 않습니다.'
      },
      name: {
        required: '이름이 입력되지 않았습니다.',
        korean: '한글만 입력 가능합니다.'
      },
      email: {
        required: '이메일이 입력되지 않았습니다.',
        email: '이메일 형식이 올바르지 않습니다.'
      },
      address: {
        required: '주소가 입력되지 않았습니다.'
      },
      mobile: {
        required: '전화번호가 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        type: 'POST',
        url: '/api/sign/up',
        async: true,
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          username: $usernameInput.val(),
          password: $passwordInput.val(),
          name: $nameInput.val(),
          email: $emailInput.val(),
          address: $addressInput.val(),
          mobile: $mobileInput.val()
        }),
        success: () => {
          alert('[InJae]\n회원가입 성공 로그인 페이지로 이동합니다.')
          location.href = '/sign/in'
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })
</script>